<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

         {% block stylesheet %}
             {{ encore_entry_link_tags('app') }}
         {% endblock %}
        <style type="text/css">
            .footer
            {
                position: page;
                bottom : 0;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
</html>
