<footer class="w-100 blue-background align-middle align-self-end py-3 mt-3">
    <div class="row d-flex align-items-center">
        <div class="col-sm-8 offset-sm-2 text-center">
            Copyright Cloud des élèves - 2018 - tous droits réservés
        </div>
    </div>
</footer>
