<footer class="container-fluid w-100 blue-background align-middle align-self-end py-3 mt-3 footer">
    <div class="row d-flex align-items-center">
        <div class="col-sm-8 offset-sm-2 text-center">
            {{ 'page.footer.copyright'|trans }} - {{ 'now'|date('Y') }} - {{ 'page.footer.allRightsReserved'|trans }}
        </div>
    </div>
</footer>
