{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">

        .image_outer_container{
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 50%;
            position: relative;
        }

        .image_inner_container{
            border-radius: 50%;
            padding: 5px;
            background: #833ab4;
            background: -webkit-linear-gradient(to bottom, #1e98fc, #bba7fd, #3205b4);
            background: linear-gradient(to bottom,#1e98fc, #bba7fd, #3205b4);
        }
        .image_inner_container img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 5px solid white;
        }
        .main{
            background-color: rgb(245, 245, 245);
            padding-top: 35px;
            min-height: 80vh;
        }

        .card{
            box-shadow: rgba(6, 6, 7, 0.4) 0px 6px 24px -12px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary save"></button>
                    <button type="button" class="btn btn-primary closemodal"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-no-padding">
        {{ include('menu.html.twig') }}
    </div>
    <div class="container-fluid bg-secondary">
        {% block nom %}
        {% endblock %}
    </div>
    <div class="main">
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    </div>
{% endblock %}
