{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary save" data-dismiss="modal"></button>
                    <button type="button" class="btn btn-primary closemodal"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-no-padding">
        {{ include('menu.html.twig') }}
    </div>
    <div class="container-fluid bg-secondary">
        {% block nom %}
        {% endblock %}
    </div>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
