<div class="test"></div>
<div class="row mt-3 justify-content-end">
    <button class="btn mr-3 btn-cancel cancelinsc" data-club="{{ club.club.id }}">
        {{ "action.cancel"|trans }}
    </button>
</div>